<h1>Stock Adjustment</h1>
<form [formGroup]="form" (ngSubmit)="save()" class="grid">
  <mat-form-field
    ><mat-label>Product</mat-label
    ><mat-select formControlName="productId">
      @for (x of products(); track x.productId) {
        <mat-option [value]="x.productId">{{ x.productCode }} — {{ x.productName }}</mat-option>
      }
    </mat-select></mat-form-field
  ><mat-form-field
    ><mat-label>Warehouse</mat-label
    ><mat-select formControlName="warehouseId">
      @for (x of warehouses(); track x.warehouseId) {
        <mat-option [value]="x.warehouseId">{{ x.warehouseName }}</mat-option>
      }
    </mat-select></mat-form-field
  ><mat-form-field
    ><mat-label>Adjustment</mat-label
    ><mat-select formControlName="adjustmentType"
      ><mat-option value="INCREASE">Increase Stock</mat-option
      ><mat-option value="DECREASE">Decrease Stock</mat-option></mat-select
    ></mat-form-field
  ><mat-form-field
    ><mat-label>Quantity</mat-label
    ><input matInput type="number" formControlName="quantity" /></mat-form-field
  ><mat-form-field
    ><mat-label>Unit cost</mat-label
    ><input matInput type="number" formControlName="unitCost" /></mat-form-field
  ><mat-form-field
    ><mat-label>Reason code</mat-label
    ><mat-select formControlName="reasonCode">
      @for (x of reasons; track x) {
        <mat-option [value]="x">{{ x }}</mat-option>
      }
    </mat-select></mat-form-field
  ><mat-form-field
    ><mat-label>Batch number</mat-label><input matInput formControlName="batchNo" /></mat-form-field
  ><mat-form-field
    ><mat-label>Serial number</mat-label
    ><input matInput formControlName="serialNo" /></mat-form-field
  ><mat-form-field class="wide"
    ><mat-label>Remarks</mat-label
    ><textarea matInput formControlName="remarks"></textarea></mat-form-field
  ><button mat-flat-button type="submit" [disabled]="form.invalid">Post adjustment</button>
</form>
